a {
  color: inherit; /* Use the color inherited from the parent element */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.about-container {
  display: flex;
  padding-left: 300px;
  padding-right: 300px;

  background-image: url("../images/styles/stacked-peaks-2000 (2).svg");

  padding-top: 15px;
  padding-bottom: 15px;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  text-align: center;

  font-family: "Futura";

  font-size: 44px;
  color: white;

  margin-bottom: 10px;
  text-shadow: 2px 2px 2px #23446d;
}

.about-heading {
  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 5px;
  font-family: "Futura C";
  font-size: 72px;

  /* font-weight: bold; */

  margin-top: 10px;
  margin-bottom: 10px;
}

.filler-color {
  height: 30px;
  width: 100%;
  background-color: #209fdf;

  position: absolute;
  top: 1970px;
  z-index: 999;
}
