a {
  color: inherit; /* Use the color inherited from the parent element */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.about-container {
  display: flex;
  padding-left: 20vw;
  padding-right: 20vw;

  background-image: url("../images/styles/stacked-peaks-2000 (2).svg");

  padding-top: 1vw;
  padding-bottom: 1vw;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  text-align: center;

  font-family: "Futura";

  font-size: 2vw;
  color: white;

  margin-bottom: 1vw;
  text-shadow: 2px 2px 2px hsl(213, 50%, 20%);
}

.about-heading {
  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 2px;
  font-family: "Futura C";
  font-size: 4vw;

  margin-top: 0.8vw;
  margin-bottom: 0.8vw;
}
