.cart-alert-wrap {
  position: fixed;
  bottom: 5rem;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  z-index: 1000;

  transition: transform 0.3s ease;

  transform: translateX(150%);
}

.cart-alert-wrap.active {
  transform: translateX(0);
}

.cart-alert {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--clr-copper);
  font-family: "Futura";
  font-size: 1.5rem;
  width: fit-content;
  height: 3rem;

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;

  background-color: var(--clr-darkteal);
  box-shadow: 0px 2px 3px hsla(200, 100%, 0%, 0.8);
}

.mobile-user {
  color: var(--clr-verylightteal);
  background-color: var(--clr-darkteal);
  height: 3rem;
  width: fit-content;

  position: fixed;
  right: 0;
  bottom: 10%;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  gap: 0.25rem;

  font-family: "Futura";
  font-size: 1.25rem;

  cursor: pointer;

  display: none;
  transition: all 0.3s ease;
}

.mobile-user img {
  width: 1.25rem;
}

.mobile-user::before {
  content: "";
  position: relative;
  top: 0;

  right: 0;
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent; /* Adjust triangle height */
  border-bottom: 1.5rem solid transparent; /* Adjust triangle height */
  border-right: 1rem solid var(--clr-darkteal); /* Adjust triangle width and color */

  transform: translateX(-100%);
}

@media (max-width: 1536px) {
  .mobile-user {
    display: none !important;
  }
}

@media (max-width: 1280px) {
  .cart-alert {
    height: 2.5rem;
    font-size: 1.2rem;
  }

  .mobile-user {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .mobile-user {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .cart-alert {
  }

  .mobile-user {
    display: none !important;
  }
}

@media (max-width: 640px) {
  .mobile-user {
    display: none !important;
  }

  .cart-alert {
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
}

@media (max-width: 475px) {
  .mobile-user {
    /* display: flex !important; */

    height: 9vw;
    width: fit-content;

    bottom: 10%;

    gap: 0.5vw;

    font-size: 3.25vw;

    padding-right: 2vw;

    z-index: 1500;

    box-shadow: 1px 2px 1.5px var(--clr-darkteal-hover);
  }

  .mobile-user::before {
    border-top: 4.5vw solid transparent; /* Adjust triangle height */
    border-bottom: 4.5vw solid transparent; /* Adjust triangle height */
    border-right: 2.5vw solid var(--clr-darkteal); /* Adjust triangle width and color */
  }

  .mobile-user img {
    width: 4vw;
  }

  .cart-alert {
    height: 8vw;
    font-size: 4.5vw;
  }
}
