/* Cart Container Style */
.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25vw;

  background-color: rgba(255, 255, 255);

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); /* Add shadow for depth */

  z-index: 999; /* Ensure it's above other elements but below cart button */

  backdrop-filter: blur(20px); /* Apply backdrop filter for blur effect */

  overflow-y: auto; /* Allow scrolling if content exceeds container */

  /* Add smooth transition */
  transition: transform 0.3s ease;

  /* Start off-screen */
  transform: translateX(100%);

  font-size: 1vw;
}

/* Show Cart Container when Active */
.cart-container.active {
  transform: translateX(0); /*Slide in from right*/
}

/* .blur {
  filter: blur(5px);
} */

.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgb(198, 198, 198);

  margin-top: 0.9vw;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-bottom: 0.9vw;
}

.cart-heading {
  font-family: "Futura";
  /* font-weight: 600; */

  display: flex;
  justify-content: center;
  align-items: center;

  letter-spacing: 1px;
}

.close-cart-btn {
  font-size: 1.5vw;
  font-weight: 600;

  border: none;
  background-color: white;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.close-cart-btn-img {
  max-width: 100%;
  max-height: 100%;
}

.cart-product-container {
  padding-left: 1vw;
  padding-right: 1vw;

  max-height: 75vh;
  overflow-y: auto;

  /* border: 1px solid black; */
}

.cart-product-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.cart-product-container-child {
  border-bottom: 1px solid rgb(230, 230, 230);
  height: 7vw;

  /* margin-top: 0.8vw; */
  /* margin-bottom: 0.8vw; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-left: 1vw;
  padding-right: 1vw;

  font-family: "futura";
}

.cart-product-img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 25%;
}

.cart-product-img {
  height: 95%;
}

.cart-product-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 70%;
}

.cart-product-name {
  font-weight: 600;
  letter-spacing: 0.2px;

  margin-bottom: 1vw;
}

.cart-product-info-sub {
  margin-top: 0.5vw;
  /* margin-bottom: 0.5vw; */

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-remove-cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 1px solid rgb(128, 128, 128);
  width: 25%;
}

.add-remove-cart-item div {
  width: 100%;
  padding-top: 0vw;
  padding-bottom: 0vw;
}

.cart-product-price {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-cart-item {
  display: flex;
  justify-content: center;
  align-items: center;

  border-left: 1px solid rgb(128, 128, 128);

  font-weight: 500;
  cursor: pointer;
}

.add-cart-item:hover {
  color: white;
  background-color: black;
}

.remove-cart-item {
  display: flex;
  justify-content: center;
  align-items: center;

  border-right: 1px solid rgb(128, 128, 128);

  font-weight: 500;
  cursor: pointer;
}

.remove-cart-item:hover {
  color: white;
  background-color: black;
  border: none;
}

.cart-product-quantity {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 0.15vw;
  padding-bottom: 0.15vw;

  font-weight: 300;
  font-family: "Futura";
  text-align: center;
}

.subtotal-container {
  position: absolute;
  bottom: 0;

  width: 100%;

  padding-left: 0.8vw;
  padding-right: 0.8vw;
  padding-top: 1vw;
  padding-bottom: 1vw;

  border-top: 1px solid rgb(128, 128, 128);

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: "Futura";

  background-color: white;
  z-index: 1;
}

.subtotal-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 5px;
}

.subtotal-heading {
  display: flex;
  justify-content: center;

  font-weight: 600;
}

.subtotal-calculated {
  margin-left: 0.8vw;
  margin-right: 0.8vw;
}

.subtotal-description {
  display: flex;
  justify-content: center;

  margin-top: 0.5vw;
  margin-bottom: 0.5vw;

  font-family: "Futura";
  font-size: 0.8em;
}

.checkout-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 4vw;

  font-family: "Futura";

  letter-spacing: 1px;

  color: white;
  background-color: black;

  border: none;
  cursor: pointer;
}

.checkout-text {
  margin-bottom: 0.6vw;
  font-size: 1.4em;
  font-weight: 600;
}

.checkout-description {
  font-size: 0.9em;
  font-weight: 400;
}

@media (max-width: 1536px) {
  .subtotal-container {
    height: 12vw;
    justify-content: flex-start;
  }

  .checkout-btn {
    margin-top: 0.5vw;
    height: 6vw;
  }

  .remove-cart-item img {
    height: 1.2vw;
  }
}

@media (max-width: 1280px) {
  .subtotal-container {
    height: 13vw;
  }

  .checkout-text {
    font-size: 1.1em;
  }

  .checkout-description {
    font-size: 0.85em;
  }

  .checkout-btn {
    height: 8vw;
  }
}

@media (max-width: 1024px) {
  .cart-container {
    font-size: 1.4vw;
  }

  .cart-heading {
    font-size: 2.5vw;
  }

  .cart-container {
    width: 40%;
  }

  .subtotal-description {
    font-size: 0.9em;
  }

  .cart-product-container-child {
    height: 10vw;
  }
}

@media (max-width: 768px) {
  .checkout-btn {
    font-size: 1em;
  }
}

@media (max-width: 640px) {
  .cart-header {
    margin-left: 1.4vw;
    margin-right: 1.4vw;
  }

  .close-cart-btn-img {
    width: 2.5vw;
    height: 2.5vw;
  }

  .add-remove-cart-item div {
    padding: 0vw 0.2vw;
  }
}

@media (max-width: 475px) {
  .cart-container {
    width: 66%;
    font-size: 2.8vw;
  }

  .cart-heading {
    font-size: 1.7em;
  }

  .cart-product-container-child {
    height: 20vw;
  }

  .cart-header {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }

  .subtotal-container {
    height: 25vw;
  }

  .checkout-btn {
    height: 12vw;
  }

  .close-cart-btn-img {
    width: 4vw;
    height: 4vw;
  }
}
