/* Cart Container Style */
.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30rem;

  background-color: rgba(255, 255, 255);

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); /* Add shadow for depth */

  z-index: 999; /* Ensure it's above other elements but below cart button */

  backdrop-filter: blur(20px); /* Apply backdrop filter for blur effect */

  overflow-y: auto; /* Allow scrolling if content exceeds container */

  /* Add smooth transition */
  transition: transform 0.3s ease;

  /* Start off-screen */
  transform: translateX(100%);

  font-size: 1.1rem;
}

/* Show Cart Container when Active */
.cart-container.active {
  transform: translateX(0); /*Slide in from right*/
}

.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgb(198, 198, 198);

  margin-top: 0.75rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  padding-bottom: 0.75rem;
}

.cart-heading {
  font-family: "Futura";

  display: flex;
  justify-content: center;
  align-items: center;

  letter-spacing: 0.5px;
}

.close-cart-btn {
  font-size: 1.2rem;
  font-weight: 600;

  border: none;
  background-color: white;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.close-cart-btn-img {
  max-width: 100%;
  max-height: 100%;
}

.cart-product-container {
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  max-height: 75vh;
  overflow-y: auto;
}

.cart-product-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.cart-footer {
  height: 20%;
  position: absolute;
  bottom: 0;

  width: 100%;

  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  border-top: 1px solid rgb(128, 128, 128);

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: "Futura";

  background-color: white;
  z-index: 1;
}

.cart-product-container-child {
  border-bottom: 1px solid rgb(230, 230, 230);
  height: 8rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-left: 0rem;
  padding-right: 1vw;

  font-family: "futura";
}

.cart-product-img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 25%;
}

.cart-product-img {
  height: 95%;
}

.cart-product-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 70%;
  height: 100%;
  font-size: 1em;
}

.cart-product-name {
  font-weight: 600;
  letter-spacing: 0px;

  margin-bottom: 0.5rem;
}

.cart-product-info-sub {
  margin-top: 0.5rem;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-remove-cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 1px solid rgb(128, 128, 128);
  width: 25%;
}

.add-remove-cart-item div {
  width: 100%;
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
}

.cart-product-price {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-cart-item {
  display: flex;
  justify-content: center;
  align-items: center;

  border-left: 1px solid rgb(128, 128, 128);

  font-weight: 500;
  cursor: pointer;
}

.add-cart-item:hover {
  color: white;
  background-color: black;
}

.remove-cart-item {
  display: flex;
  justify-content: center;
  align-items: center;

  border-right: 1px solid rgb(128, 128, 128);

  font-weight: 500;
  cursor: pointer;
}

.remove-cart-item:hover {
  color: white;
  background-color: black;
  border: none;
}

.cart-product-quantity {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 0rem;
  padding-bottom: 0rem;

  font-weight: 500;
  font-family: "Futura";
  text-align: center;
}

.subtotal-container {
  height: 100%;
  font-size: 1em;
}

.subtotal-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 5px;
}

.subtotal-heading {
  display: flex;
  justify-content: center;

  font-weight: 600;
}

.subtotal-calculated {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.subtotal-description {
  display: flex;
  justify-content: center;

  margin-top: 0.25rem;
  margin-bottom: 0.25rem;

  font-family: "Futura";
  font-size: 0.85em;
}

.checkout-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 5.5rem;

  font-family: "Futura";

  letter-spacing: 1px;

  color: white;
  background-color: black;

  border: none;
  cursor: pointer;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  width: 100%;
}

.checkout-text {
  margin-bottom: 0.5rem;
  font-size: 1.5em;
  font-weight: 600;
}

.checkout-description {
  font-size: 0.9em;
  font-weight: 500;
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .cart-container {
    width: 25rem;
    font-size: 1.05rem;
  }

  .checkout-btn {
    height: 5rem;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 475px) {
  .cart-container {
    width: 100%;
  }
}
