.product-grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}

.filter-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */

  width: 350px;
}

.product-grid-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 1200px;
}

.filter-header {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Futura";
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1.5px;

  margin-top: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid rgb(200, 200, 200);
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter-type,
.filter-size,
.filter-color,
.filter-price {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */

  width: 350px;
  padding-left: 15px;
  padding-top: 5px;
}

.filter-type h,
.filter-size h,
.filter-color h,
.filter-price h {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-family: "Futura";
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;

  margin-top: 10px;
  margin-bottom: 10px;
}

.filter-type div,
.filter-color div,
.filter-price div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 20px;
  border-radius: 1000px;
  margin-left: 15px;
  margin-right: 15px;

  background-color: hsl(200, 50%, 90%);

  font-family: "Frank Libre";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.5px;

  cursor: pointer;
}

.filter-size div {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
  margin-bottom: 5px;
}

.filter-size div div {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 5px;
  margin-right: 5px;

  font-family: "Frank Libre";
  font-weight: 500;
  font-size: 18px;

  border: 1px solid hsl(200, 100%, 90%);
  padding: 4px;
}

.active-filter {
  background-color: black;
  color: white;
}

.stacked-steps {
  background-image: url("../images/styles/stacked-layers-250.svg");
  /* opacity: 0.8; */
}

.offer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 20px;
  height: 250px;
  /* width: 1080px; */

  margin-left: 250px;
  margin-right: 250px;
}

.p-large {
  position: absolute;
  top: 210px;

  font-family: "Futura C";
  font-size: 150px;
  color: white;
  font-weight: 500;
}

.p-small-1,
.p-small-2 {
  font-family: "Futura C";
  font-size: 45px;
  color: white;
  font-weight: 500;
}

.p-small-1 {
  position: absolute;
  top: 360px;
  transform: translateX(40px);
}

.p-small-2 {
  position: absolute;
  top: 190px;
  transform: translateX(430px);
}

.product-grid-all-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.collection-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 15px;
  padding-left: 15px;
  padding-right: 30px;
  width: 100%;

  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 14px;
}

.search-input {
  width: 100%;
  height: 30px;

  font-family: "Futura";
  font-size: 17px;

  text-indent: 10px;
}

.search-input::-ms-clear {
  display: none; /* Hide the clear button in IE/Edge */
}

.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;

  color: red;
  font-size: 20px;
}

.hide-for-search {
  display: none;
}

.filter-type div:hover,
.filter-size div div:hover,
.filter-color div:hover,
.filter-price div:hover {
  background-color: black;
  color: hsl(200, 100%, 90%);
  cursor: pointer;
}
