.product-grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  min-height: 100vh;
}

.filter-container {
  display: flex;
  flex-direction: column;

  width: 20%;
  font-size: 1.75rem;

  margin-right: 0.5rem;
}

.product-grid-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 0.5rem;

  gap: 2rem;
  font-size: 1.25rem !important;
}

.filter-header {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Futura";
  font-weight: bold;
  font-size: 1.1em;

  margin-top: 0.5rem;
  padding-bottom: 0.5rem;

  border-bottom: 1px solid rgb(200, 200, 200);
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter-type,
.filter-size,
.filter-color,
.filter-price {
  display: flex;
  flex-direction: column;

  width: 75%;
}

.filter-type h,
.filter-size h,
.filter-color h,
.filter-price h {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-family: "Futura";
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.8em;

  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.filter-type div,
.filter-color div,
.filter-price div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.5rem 0rem;
  border-radius: 1000px;
  margin-left: 1rem;
  margin-right: 1rem;

  background-color: var(--clr-verylightteal);

  font-family: "Futura";
  font-weight: 500;
  font-size: 0.7em;
  letter-spacing: 0px;

  cursor: pointer;
}

.filter-size div {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.filter-size div div {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 0.25rem;
  margin-right: 0.25rem;

  font-family: "Futura";
  font-weight: 500;
  font-size: 0.6em;

  border: 1.5px solid var(--clr-verylightteal);
  padding: 0.25rem;
}

.active-filter {
  background-color: black;
  color: white;
}

.stacked-steps {
  background-image: url("../images/styles/stacked-layers-250.svg");
  height: 100%;
  background-size: cover;
}

.offer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100%;
}

.p-large {
  position: relative;

  transform: translateY(25%);

  font-family: "Futura C";
  font-size: 10rem;
  color: white;
}

.p-small-1,
.p-small-2 {
  font-family: "Futura C";
  font-size: 2.5rem;
  color: white;
  font-weight: 500;
}

.p-small-1 {
  position: relative;
  transform: translateY(40%) translateX(35%);
}

.p-small-2 {
  position: relative;
  transform: translateY(-445%) translateX(317%);
}

.product-grid-all-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 80%;
}

.collection-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0.5rem;

  width: 100%;
}

.search-input {
  width: 100%;
  height: 2rem;

  font-family: "Futura";
  font-size: 1rem;

  text-indent: 0.8rem;
}

.search-input::-ms-clear {
  display: none; /* Hide the clear button in IE/Edge */
}

.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;

  color: red;
  font-size: 1rem;
}

.hide-for-search {
  display: none;
}

.filter-type div:hover,
.filter-size div div:hover,
.filter-color div:hover,
.filter-price div:hover {
  background-color: black;
  color: var(--clr-verylightteal-hover);
  cursor: pointer;
}

.product-container__c {
  width: 15rem;
}

.product-name__c {
  font-size: 1.25rem !important;
  height: 3rem !important;
}

.product-price__c {
  font-size: 1rem !important;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-bottom: 0.5rem;
}

.discount__c {
  font-size: 0.9rem !important;
}

.size-options__c div {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

@media (max-width: 1536px) {
  .offer-container {
    height: 15rem;
  }

  .p-large {
    font-size: 7.5rem;
    transform: translateY(30%);
  }

  .p-small-1,
  .p-small-2 {
    font-size: 2.25rem;
  }

  .p-small-2 {
    transform: translateY(-390%) translateX(272%);
  }

  .p-small-1 {
    transform: translateY(50%) translateX(25%);
  }

  .filters div {
    width: 90%;
  }

  .filter-type div,
  .filter-color div,
  .filter-price div {
    margin-left: 12.5%;
    /* margin-right: 33%; */

    width: 75%;
  }

  .filter-size div {
    width: 100%;
  }

  .filter-size div div {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }

  .product-container__c {
    width: 17.5rem;
  }

  .product-image__c {
    /* width: 95%; */
  }

  .product-price__c {
    font-size: 1rem !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .product-name__c {
    height: 1.5rem !important;
  }
}

@media (max-width: 1280px) {
  .filter-container {
    width: 30%;
  }

  .product-grid-all-container {
    width: 66%;
  }
}

@media (max-width: 1024px) {
  .offer-container {
    height: 12.5rem;
  }

  .p-large {
    font-size: 5.5rem;
    transform: translateY(40%);
  }

  .p-small-1,
  .p-small-2 {
    font-size: 2.1rem;
  }

  .p-small-2 {
    transform: translateY(-320%) translateX(225%);
  }

  .p-small-1 {
    transform: translateY(65%) translateX(25%);
  }

  .filter-container {
    width: 25%;
    font-size: 1.4rem;
  }

  .product-grid-all-container {
    width: 75%;
  }

  .filter-type h,
  .filter-size h,
  .filter-color h,
  .filter-price h {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;

    font-size: 0.9em;
  }

  .filter-type div,
  .filter-color div,
  .filter-price div {
    margin-left: 0rem;
    margin-right: 0rem;

    font-size: 0.75em;
    width: 100%;
  }

  .filter-size div {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
  }

  .filter-size div div {
    padding: 0.2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

  .product-container__c {
    width: 14rem;
  }

  .product-image__c {
    width: 90%;
  }

  .product-name__c {
    height: 2.5rem !important;
    font-size: 1.1rem !important;
  }

  .product-price__c {
    font-size: 0.9rem !important;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 0.5rem;
  }

  .filter-header {
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  .offer-container {
    height: 12.5rem;
  }

  .p-large {
    font-size: 4.5rem;
    transform: translateY(45%);
  }

  .p-small-1,
  .p-small-2 {
    font-size: 2rem;
  }

  .p-small-2 {
    transform: translateY(-290%) translateX(200%);
  }

  .p-small-1 {
    transform: translateY(80%) translateX(27%);
  }

  .filter-container {
    width: 30%;
    font-size: 1.3rem;
  }

  .product-grid-all-container {
    width: 70%;
  }

  .filter-type div,
  .filter-color div,
  .filter-price div {
    margin-left: 0rem;
    margin-right: 0rem;

    font-size: 0.8em;
    width: 100%;
  }

  .product-container__c {
    width: 12rem;
  }

  .product-grid-all {
    gap: 1.5rem;
  }

  .product-name__c {
    height: 2.5rem !important;
    font-size: 1rem !important;
  }

  .product-price__c {
    font-size: 0.9rem !important;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    margin-bottom: 0.5rem;
  }

  .filter-header {
    font-size: 1.1em;
  }
}

@media (max-width: 640px) {
  .p-large {
    transform: translateY(45%);
    font-size: 3.5rem;
  }

  .offer-container {
    height: 10rem;
  }

  .p-small-1 {
    transform: translateY(80%) translateX(0%);
  }

  .p-small-2 {
    transform: translateY(-300%) translateX(205%);
  }

  .p-small-1,
  .p-small-2 {
    font-size: 1.5rem;
  }

  .filter-type div,
  .filter-color div,
  .filter-price div {
    font-size: 0.75em;
    padding: 0.25rem 0rem;
  }

  .filter-size div div {
    padding: 0.15rem;
    margin-left: 0rem;
    margin-right: 0rem;

    width: fit-content;
  }

  .filter-size div {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 475px) {
  .offer-container {
    height: 30vw;
  }

  .p-large {
    font-size: 11vw;
    transform: translateY(50%);
  }

  .p-small-1,
  .p-small-2 {
    font-size: 5.5vw;
  }

  .p-small-2 {
    transform: translateY(-270%) translateX(182%);
  }

  .filter-container {
    font-size: 4vw;
  }

  .filter-header {
    margin-top: 1vw;
    padding-bottom: 1vw;
  }

  .filter-type h,
  .filter-size h,
  .filter-color h,
  .filter-price h {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
  }

  .filter-type div,
  .filter-color div,
  .filter-price div {
    padding: 1vw 0vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
  }

  .filter-size div div {
    padding: 1vw;
    font-size: 0.65em;
  }

  .filter-size div {
    flex-wrap: wrap;
  }

  .product-container__c {
    width: 50vw;
  }

  .product-price__c {
    font-size: 0.8em !important;
    padding-left: 0.5vw;
    padding-right: 0.5vw;

    margin-bottom: 1vw;
  }

  .product-name__c {
    height: 4vw !important;
    width: 100%;
    font-size: 3.5vw !important;
    margin-bottom: 1vw;
  }

  .size-options__c div {
    margin-left: 0.75vw;
    margin-right: 0.75vw;
  }

  .discount__c {
    font-size: 0.9em !important;
  }

  .search-input {
    width: 100%;
    height: 5vw;
    font-family: "Futura";
    font-size: 3vw;
    text-indent: 1vw;
  }
}
