.features-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  height: 12vw;
  z-index: 100;
}

.feature {
  box-shadow: 3px 3px 5px hsla(200, 100%, 20%, 1);

  width: 16%;
  height: 75%;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-family: "Futura C";
  font-size: 2.8vw;
  color: #ff9900;

  background-color: rgba(0, 0, 0, 0.9);
}

.lowpoly {
  background-image: url("../images/styles/low-poly-grid-300 (2).svg");
  background-size: cover;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

.feature:nth-child(2) {
  transition-delay: 200ms;
}
.feature:nth-child(3) {
  transition-delay: 400ms;
}
.feature:nth-child(4) {
  transition-delay: 600ms;
}
.feature:nth-child(5) {
  transition-delay: 800ms;
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
  .feature {
    font-size: 3vw;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 475px) {
  .features-container {
    height: 14vw;
  }

  .feature {
    box-shadow: 1px 1.5px 2px hsla(200, 100%, 15%, 1);
  }
}
