@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Frank Libre";
  src: url("../fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf");
}

@font-face {
  font-family: "FF-regular";
  src: url("../fonts/Forever Freedom/Forever Freedom Regular.otf");
}

@font-face {
  font-family: "FF-italic";
  src: url("../fonts/Forever Freedom/Forever Freedom Italic.otf");
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 350px;

  padding-left: 45px;
  padding-right: 45px;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #005580;
  color: white;
  letter-spacing: 1px;

  background: linear-gradient(to top, #003047, #005580);
}

.footer-grid-1,
.footer-grid-2,
.footer-grid-3,
.footer-grid-4,
.footer-signup {
  font-family: "Frank Libre";

  padding-top: 20px;
  padding-left: 0px;
}

.footer-signup {
  grid-row: 2/3;
  grid-column: 1/3;
  margin-bottom: 300px;
}

.social-media-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  justify-items: center;
  align-items: center;

  margin-top: 15px;
  padding-right: 770px;

  cursor: pointer;
}

.social-media-links a {
  color: white;
}

.footer-title {
  font-family: "Futura";
  font-size: 24px;
  font-weight: 500;
}

.store-location {
  padding-top: 10px;
}

.directions-link {
  font-weight: 500;
  cursor: pointer;
}

.footer-bullet {
  /* padding: 5px; */
  margin: 5px;
}

.li1 {
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: none;

  cursor: pointer;
}

.p1 {
  margin-top: 10px;
  line-height: 24px;
}

.newsletter {
  display: flex;
  align-items: center; /* Align items vertically */
}

/* Style the email input box */
.newsletter input[type="email"] {
  border: none;
  height: 28px;
  margin-top: 5px;
  border-bottom: 1.5px solid black; /* Add bottom border */
  outline: none; /* Remove outline when focused */
  width: 207px; /* Adjust width as needed */
}

/* Style the placeholder text */
.newsletter input[type="email"]::placeholder {
  color: #474747; /* Placeholder text color */
  letter-spacing: 1px;
  transform: translateX(2.5px);
  padding-left: 5px;
}

/* Optional: Style the button */
.newsletter-btn {
  padding-left: 5px;
  margin-top: 5px;
  padding-right: 5px;

  border: none;
  border-bottom: 1.5px solid black;
  background-color: white;
  cursor: pointer;
}

.spacer {
  aspect-ratio: 1920/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("../images/styles/layers-waves-100.svg");
}

@media (max-width: 1440px) {
  .footer-container {
    height: 300px;
    padding-top: 10px;
  }

  .footer-grid-1,
  .footer-grid-2,
  .footer-grid-3,
  .footer-grid-4,
  .footer-signup {
    padding-top: 17px;
  }

  .footer-signup {
    margin-bottom: 300px;
  }

  .social-media-links {
    justify-content: center;
    margin-top: 10px;
    padding-right: 550px;
  }

  .footer-title {
    font-size: 20px;
  }

  .store-location {
    padding-top: 8px;
  }

  .directions-link {
  }

  .footer-bullet {
    margin: 5px;
  }

  .li1 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .p1 {
    margin-top: 8px;
    /* line-height: 24px; */
  }

  .newsletter {
  }

  .newsletter input[type="email"] {
    height: 24px;
    margin-top: 3px;
  }

  .newsletter input[type="email"]::placeholder {
    letter-spacing: 1px;
    transform: translateX(2.5px);
  }

  .newsletter-btn {
    padding-left: 0px;
    margin-top: 0px;
  }
}

@media (max-width: 320px) {
  .spacer {
    width: 320px;
    height: 50px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    background-color: #005580;
    color: white;
    letter-spacing: 0px;
    height: 500px;

    background: linear-gradient(to top, #003047, #005580);
  }

  .footer-container div {
    padding: 0px;
    width: 120px;
    /* height: 140px; */

    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
  }

  .footer-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;
  }

  .social-media-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    justify-items: center;
    align-items: center;

    margin-top: 15px;
    padding-right: 770px;

    cursor: pointer;
  }

  .social-media-links a {
    color: white;
  }

  .footer-title {
    font-family: "Futura";
    font-size: 16px;
    font-weight: 600;

    margin-bottom: 5px;
  }

  .store-location {
    margin-top: 0px;
    font-family: "futura";
    font-size: 14px;
  }

  .store-location div {
    height: 20px;
  }

  .directions-link {
    font-weight: 500;
    cursor: pointer;
  }

  .footer-bullet {
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
  }

  .li1 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
    list-style-type: none;

    font-family: "Futura";
    font-size: 14px;
    cursor: pointer;
  }

  .p1 {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.5;
  }

  .newsletter {
    display: flex;
    justify-content: center;
    align-items: center; /* Align items vertically */
  }

  /* Style the email input box */
  .newsletter input[type="email"] {
    border: none;
    height: 28px;
    margin-top: 5px;
    border-bottom: 1.5px solid black; /* Add bottom border */
    outline: none; /* Remove outline when focused */
    width: 207px; /* Adjust width as needed */
  }

  /* Style the placeholder text */
  .newsletter input[type="email"]::placeholder {
    color: #474747; /* Placeholder text color */
    letter-spacing: 1px;
    transform: translateX(2.5px);
    padding-left: 5px;
  }

  /* Optional: Style the button */
  .newsletter-btn {
    padding-left: 5px;
    margin-top: 5px;
    padding-right: 5px;

    border: none;
    border-bottom: 1.5px solid black;
    background-color: white;
    cursor: pointer;
  }

  .spacer {
    aspect-ratio: 1920/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .layer1 {
    background-image: url("../images/styles/layers-waves-100.svg");
  }
}

@media (max-width: 425px) {
  .spacer {
    width: 320px;
    height: 50px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    background-color: #005580;
    color: white;
    letter-spacing: 0px;
    height: 500px;

    background: linear-gradient(to top, #003047, #005580);
  }

  .footer-container div {
    padding: 0px;
    width: 120px;
    /* height: 140px; */

    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
  }

  .footer-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;
  }

  .social-media-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    justify-items: center;
    align-items: center;

    margin-top: 15px;
    padding-right: 770px;

    cursor: pointer;
  }

  .social-media-links a {
    color: white;
  }

  .footer-title {
    font-family: "Futura";
    font-size: 16px;
    font-weight: 600;

    margin-bottom: 5px;
  }

  .store-location {
    margin-top: 0px;
    font-family: "futura";
    font-size: 14px;
  }

  .store-location div {
    height: 20px;
  }

  .directions-link {
    font-weight: 500;
    cursor: pointer;
  }

  .footer-bullet {
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
  }

  .li1 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
    list-style-type: none;

    font-family: "Futura";
    font-size: 14px;
    cursor: pointer;
  }

  .p1 {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.5;
  }

  .newsletter {
    display: flex;
    justify-content: center;
    align-items: center; /* Align items vertically */
  }

  /* Style the email input box */
  .newsletter input[type="email"] {
    border: none;
    height: 28px;
    margin-top: 5px;
    border-bottom: 1.5px solid black; /* Add bottom border */
    outline: none; /* Remove outline when focused */
    width: 207px; /* Adjust width as needed */
  }

  /* Style the placeholder text */
  .newsletter input[type="email"]::placeholder {
    color: #474747; /* Placeholder text color */
    letter-spacing: 1px;
    transform: translateX(2.5px);
    padding-left: 5px;
  }

  /* Optional: Style the button */
  .newsletter-btn {
    padding-left: 5px;
    margin-top: 5px;
    padding-right: 5px;

    border: none;
    border-bottom: 1.5px solid black;
    background-color: white;
    cursor: pointer;
  }

  .spacer {
    aspect-ratio: 1920/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .layer1 {
    background-image: url("../images/styles/layers-waves-100.svg");
  }
}
