.announcement-bar {
  background-color: #004646;
  height: 40px;
  font-weight: bold;
  color: white;
  font-family: "Roboto";
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 17px;
}

.fixed-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 80px; /* This sets the fixed height of the header */

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

.brand-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 80px; /* This sets the fixed height of the header */
}

.brand-header-left {
  margin: 5px;
  max-height: 100%; /* Setting max-height to 100% */
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.brand-header-middle {
  margin: 5px;
  max-height: 70px; /* Setting max-height to 100% */
  display: flex;
  justify-content: center;
  align-content: center;
}

.brand-header-right {
  margin: 5px;
  max-height: 100%; /* Setting max-height to 100% */

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  justify-items: center;
  align-items: center;

  padding-left: 350px;
  padding-right: 40px;
}

.btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.menu-logo,
.brand-logo {
  max-width: 100%; /* Make the image fill the width of the container */
  max-height: 100%; /* Make the image fill the height of the container */
}

.user-btn,
.search-btn,
.wishlist-btn,
.cart-btn {
  /* border: 2px solid black; */
  width: 40px;
  height: 40px;
  align-self: center;
}

.wishlist-logo,
.cart-logo,
.user-logo,
.search-logo {
  max-width: 100%;
  max-height: 100%;
}

/* .brand-logo {
  margin-top: 0;
  margin-bottom: 0;
  width: auto;
  height: 75px;
} */

/* .brand-header-middle {
  display: flex;
  align-items: center;
  height: 100%;
} */

/* .brand-logo {
  max-height: 100%;
} */

/* .menu-logo {
  width: auto;
  height: 35px;
} */

/* .btn-menu {
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: bold;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
} */

/* .brand-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 100%;
  margin-bottom: 20px;
} */

/* .wishlist-logo,
.cart-logo,
.user-logo,
.search-logo {
  max-height: 50px;
  width: auto;
} */
