@font-face {
  font-family: "Futura C";
  src: url("../fonts/futura/futura medium condensed bt.ttf");
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/futura medium bt.ttf");
}

.hide {
  display: none !important;
  transition: 100ms all ease-out;
}

.hide-opacity {
  opacity: 0;
  transition: 100ms all ease-out;
}

.active {
  transition: 250ms all ease;
  opacity: 1;
}

.announcement-bar {
  background-color: hsl(200, 100%, 25%);
  height: 2rem;

  color: white;
  font-family: "Futura";
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-size: 1vw;
}

.brand-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 6vw; /* This sets the fixed height of the header */
  font-size: 1.2vw;
}

.brand-header-left {
  height: 100%;
  display: flex;
  align-items: center;
}

.brand-header-middle {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-header-right {
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  margin-right: 5%;
  gap: 5%;
}

.widget-left {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100px;
  background-color: hsl(200, 50%, 90%);

  height: 66%;
  margin-left: 5%;
}

.widget-left div {
  border-radius: 100px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0vh 1.2vw;
  height: 100%;

  font-family: "Futura";
  font-size: 1em;
  font-weight: 600;

  transition: 200ms all ease;
}

.widget-home-2 {
  cursor: pointer;
}
.widget-home-2:hover {
  background-color: hsl(200, 70%, 75%);
}

.widget-all-2 {
  background-color: black;
  color: hsl(200, 66%, 95%);
  cursor: pointer;
}

.widget-newdrops:hover,
.widget-trending:hover,
.widget-all:hover {
  background-color: hsl(200, 70%, 75%);
  cursor: pointer;
}

.widget-home,
.widget-trending {
  margin-right: 0px;
}

.widget-home {
  background-color: black;
  color: hsl(200, 66%, 95%);
}

.brand-header-right div {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 66%;
  padding: 0vh 1.1vw;
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5vw;
}

.user-btn,
.cart-btn {
  background-color: hsl(200, 50%, 90%);
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  cursor: pointer;
  transition: 200ms all ease;
}

.user-btn:hover,
.cart-btn:hover {
  background-color: hsl(200, 50%, 75%);
}

.cart-logo,
.user-logo {
  max-width: 100%;
  max-height: 100%;
}

.tablet-widget-all {
  display: none !important;
  border-radius: 100px;

  text-align: center;

  border-radius: 100px;
  background-color: hsl(200, 50%, 90%);
  padding: 0vh 2.5vh;
  height: 100%;

  font-family: "Futura";
  font-size: 2.8vh;
  font-weight: 600;

  transition: 200ms all ease;
}

/* .tablet-widget-all a {
  display: flex;
  align-self: center;
  justify-self: center;
} */

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
  .user-logo,
  .cart-logo {
    width: 2vw;
    height: 2vw;
  }

  .brand-header-right {
    gap: 1vw;
  }
}

@media (max-width: 1024px) {
  .announcement-bar {
    font-size: 1.5vw;
  }
}

@media (max-width: 768px) {
  .announcement-bar {
    height: 1.8rem;
    font-size: 1.7vw;
  }

  .brand-header {
    height: 8vw;
    font-size: 1.4vw;
  }

  .brand-logo {
    height: 7vw;
  }

  .brand-header-right {
    gap: 2vw;
  }

  .user-btn,
  .cart-btn {
    padding: 0vw 1.5vw;
  }

  .user-logo,
  .cart-logo {
    width: 3vw;
    height: 3vw;
  }
}

@media (max-width: 640px) {
  .announcement-bar {
    font-size: 1.5vw;
    height: 3vw;
  }
}

@media (max-width: 475px) {
  .widget-all {
    display: none !important;
  }

  .brand-header {
    font-size: 1.75vw;
  }

  .tablet-widget-all {
    display: flex !important;
    font-size: 1em;
  }

  .brand-header-right {
    margin-right: 7.5%;
  }
}
