@font-face {
  font-family: "Futura C";
  src: url("../fonts/futura/futura medium condensed bt.ttf");
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/futura medium bt.ttf");
}

.hide {
  opacity: 0;
  transition: 100ms all ease-out;
}

.active {
  transition: 250ms all ease;
  opacity: 1;
}

.announcement-bar {
  background-color: hsl(200, 100%, 25%);
  height: 40px;
  /* font-weight: bold; */
  color: white;
  font-family: "Futura";
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 17px;
}

.fixed-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 80px; /* This sets the fixed height of the header */

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

.brand-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 120px; /* This sets the fixed height of the header */
}

.brand-header-left {
  height: 120px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;

  display: flex;
  align-items: center;
}

.widget-left {
  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 2px solid black; */
  border-radius: 100px;
  background-color: hsl(200, 50%, 90%);

  height: 75px;
}

.widget-left div {
  /* border: 2px solid black; */
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 25px;
  padding-right: 25px;

  height: 75px;

  font-family: "Futura";
  /* letter-spacing: 0.5px; */
  font-size: 25px;
  /* font-weight: 400; */

  z-index: 500;
  transition: 200ms all ease;
}

.widget-home-2 {
  cursor: pointer;
}
.widget-home-2:hover {
  background-color: hsl(200, 70%, 75%);
}

.widget-all-2 {
  background-color: black;
  color: hsl(200, 66%, 95%);
  cursor: pointer;
}

.widget-newdrops:hover,
.widget-trending:hover,
.widget-all:hover {
  background-color: hsl(200, 70%, 75%);
  cursor: pointer;
}

.widget-home,
.widget-trending {
  margin-right: 5px;
}

.widget-home {
  background-color: black;
  color: hsl(200, 66%, 95%);
}

.brand-header-middle {
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-header-right {
  max-height: 120px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  padding-right: 45px;
  gap: 15px;
}

.brand-header-right div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.menu-logo {
  max-width: 100%; /* Make the image fill the width of the container */
  max-height: 100%; /* Make the image fill the height of the container */
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.user-btn,
.cart-btn {
  background-color: hsl(200, 50%, 90%);
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* margin-left: 20px; */

  height: 75px;
  width: 75px;

  cursor: pointer;
  transition: 200ms all ease;
}

.user-btn:hover,
.cart-btn:hover {
  background-color: hsl(200, 50%, 75%);
}

.cart-logo,
.user-logo {
  max-width: 37px;
  max-height: 37px;
}

@media (max-width: 1440px) {
  .announcement-bar {
    height: 33px;
    letter-spacing: 1.5px;
    font-size: 15px;
  }

  .brand-header {
    /* grid-template-columns: repeat(3, 1fr); */
    height: 70px;
  }

  .brand-header-left {
    margin: 5px;
    height: 60px;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .brand-header-middle {
    margin: 5px;
    height: 60px;
  }

  .brand-header-right {
    margin: 5px;
    height: 60px;
    justify-content: center;
    padding-left: 270px;
    padding-right: 40px;
  }

  .btn-menu {
    height: 35px;
    width: 35px;
  }

  .brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }

  .user-btn,
  .search-btn,
  .wishlist-btn,
  .cart-btn {
    width: 35px;
    height: 35px;
  }

  .wishlist-logo,
  .cart-logo,
  .user-logo,
  .search-logo {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 320px) {
  .announcement-bar {
    height: 30px;
    font-weight: bold;
    color: white;
    font-family: "Roboto";
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-size: 10px;
  }

  .brand-header {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
  }

  .brand-header-left {
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px;
    margin: 0px;
  }

  .brand-header-middle {
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px;
    margin: 0px;
  }

  .brand-header-right {
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 0px;
    margin: 0px;
  }

  .widget-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    background-color: hsl(200, 50%, 90%);

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    height: 75px;
  }

  .widget-left div {
    /* border: 2px solid black; */
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px;

    height: 75px;

    font-family: "Frank Libre";
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 10px;

    padding-bottom: 5px;
    z-index: 500;
  }

  .widget-home-2 {
    cursor: pointer;
  }
  .widget-home-2:hover {
    background-color: hsl(200, 70%, 75%);
  }

  .widget-all-2 {
    background-color: black;
    color: hsl(200, 66%, 95%);
    cursor: pointer;
  }

  .widget-newdrops:hover,
  .widget-trending:hover,
  .widget-all:hover {
    background-color: hsl(200, 70%, 75%);
    cursor: pointer;
  }

  .widget-home,
  .widget-trending {
    margin-right: 5px;
  }

  .widget-home {
    display: none;
    background-color: black;
    color: hsl(200, 66%, 95%);
  }

  .btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
    cursor: pointer;
  }

  .menu-logo {
    max-width: 100%; /* Make the image fill the width of the container */
    max-height: 100%; /* Make the image fill the height of the container */
  }

  .brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }

  .user-btn,
  .cart-btn {
    background-color: hsl(200, 50%, 90%);
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px;
    padding: 5px;

    height: 30px;
    width: 30px;

    cursor: pointer;
  }

  .user-btn:hover,
  .cart-btn:hover {
    background-color: hsl(200, 50%, 75%);
  }

  .wishlist-logo,
  .cart-logo,
  .user-logo,
  .search-logo {
    max-width: 100%;
    max-height: 100%;
  }
}
