.hero-container {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(200, 75%, 50%);
  border-radius: 75px;

  height: 700px;
  width: 1850px;
}

.hero-shoe-img {
  position: absolute;
  top: 50px;
  height: 900px;
  width: auto;
  display: block;
}

.hero-text {
  position: absolute;
  top: 420px;
  transform: translateY(-50%);
  z-index: 1;
  text-align: center;

  font-family: "FF-italic";
  font-size: 180px;
  letter-spacing: 4px;
  color: hsl(30, 100%, 50%);

  text-shadow: 1px 2px 0 hsl(30, 100%, 20%);
}

.hero-about-us {
  position: absolute;
  top: 140px;
  right: 50px;
  z-index: 2;
  text-align: center;

  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hsl(230, 75%, 40%);
  border-radius: 1000px;
  padding: 50px 50px;

  cursor: pointer;
  font-family: "FF-regular";
  letter-spacing: 5px;
  font-weight: 100;

  color: hsl(170, 75%, 70%);
  font-size: 55px;
}

.hero-about-us:hover {
  background-color: hsl(230, 75%, 33%);
}

.motto-container {
  font-family: "FF-regular";
  /* font-weight: bolder; */
  font-size: 72px;

  height: 200px;
  background-color: black;
  color: hsl(29, 100%, 55%);

  display: flex;
  justify-content: center;
  align-items: center;

  letter-spacing: 5px;
}

@media (max-width: 1440px) {
  .q1 {
    font-size: 68px;
    letter-spacing: 1.5px;
  }

  .q2 {
    font-size: 50px;
  }

  .shop-mens-btn {
    grid-column: 6/8;
    align-items: center;

    margin-top: 25px;
    margin-bottom: 25px;

    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;

    border-radius: 13px;
    border: 3px solid black;

    font-size: 15px;
  }

  .q3 {
    font-size: 72px;
    letter-spacing: 1.5px;
    padding-right: 15px;
  }

  .q4 {
    grid-column: 6/8;
    grid-row: 3/7;
    font-size: 50px;
  }

  .shop-womens-btn {
    grid-column: 6/8;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;

    border-radius: 20px;
    border: 3px solid black;

    font-size: 15px;
  }
}
