.hero-container {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 70px;
}

.hero-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: hsl(200, 75%, 45%); */
  background-image: url("../images/styles/layered-steps-700 2.png");

  border-radius: 75px;

  height: 700px;
  width: 1850px;
}

.layered-steps-700 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 75px;
  height: 700px;
  width: 1850px;

  background-image: url("../images/styles/layered-steps-700.svg");
  opacity: 0.5;
}

.hero-shoe-img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 700px;
  width: 700px;

  overflow: hidden;
}

.hero-shoe-img {
  position: absolute;
  top: 90px;
  height: 900px;
  width: auto;
  display: block;
}

.hero-text {
  position: absolute;
  top: 460px;
  transform: translateY(-50%);
  z-index: 1;
  text-align: center;

  font-family: "FF-italic";
  font-size: 180px;
  letter-spacing: 4px;
  color: hsl(30, 100%, 50%);

  text-shadow: 2px 2px 2px hsl(30, 100%, 25%);
}

.hero-about-us {
  position: absolute;
  top: 181px;
  right: 50px;
  z-index: 2;
  text-align: center;

  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hsl(200, 100%, 20%);
  border-radius: 1000px;
  padding: 50px 50px;

  cursor: pointer;
  font-family: "FF-regular";
  letter-spacing: 5px;
  font-weight: 100;

  color: hsl(190, 100%, 80%);
  font-size: 55px;

  transition: 200ms all ease;
}

.hero-about-us:hover {
  background-color: hsl(200, 100%, 15%);
  color: hsl(190, 100%, 85%);
}

.motto-container {
  font-family: "FF-regular";
  /* font-weight: bolder; */
  font-size: 72px;

  height: 200px;
  background-color: black;
  color: hsl(29, 100%, 55%);

  display: flex;
  justify-content: center;
  align-items: center;

  letter-spacing: 5px;
}

@media (max-width: 1440px) {
  .q1 {
    font-size: 68px;
    letter-spacing: 1.5px;
  }

  .q2 {
    font-size: 50px;
  }

  .shop-mens-btn {
    grid-column: 6/8;
    align-items: center;

    margin-top: 25px;
    margin-bottom: 25px;

    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;

    border-radius: 13px;
    border: 3px solid black;

    font-size: 15px;
  }

  .q3 {
    font-size: 72px;
    letter-spacing: 1.5px;
    padding-right: 15px;
  }

  .q4 {
    grid-column: 6/8;
    grid-row: 3/7;
    font-size: 50px;
  }

  .shop-womens-btn {
    grid-column: 6/8;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;

    border-radius: 20px;
    border: 3px solid black;

    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .hero-container {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
  }

  .hero-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(200, 75%, 50%);
    border-radius: 30px;

    height: 650px;
    width: 310px;
  }

  .hero-shoe-img {
    position: absolute;
    top: 250px;
    height: auto;
    width: 100%;

    display: block;
  }

  .hero-shoe-img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 320px;
  }

  .hero-text {
    position: absolute;
    top: 460px;
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;

    font-family: "FF-italic";
    font-size: 110px;
    letter-spacing: 3px;
    color: hsl(30, 100%, 50%);

    padding-left: 5px;
    padding-right: 5px;

    text-shadow: 1px 2px 0 hsl(30, 100%, 20%);
  }

  .hero-about-us {
    position: absolute;
    top: 145px;
    right: 15px;
    z-index: 2;
    text-align: center;

    height: 25px;
    width: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(200, 75%, 20%);
    border-radius: 1000px;
    padding: 35px 35px;

    cursor: pointer;
    font-family: "Futura c";
    letter-spacing: 0px;
    font-weight: 100;

    color: hsl(200, 75%, 70%);
    font-size: 25px;
  }

  .hero-about-us:hover {
    background-color: hsl(200, 75%, 33%);
  }
}

@media (max-width: 375px) and (min-width: 321px) {
  .hero-container {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
  }

  .hero-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(200, 75%, 50%);
    border-radius: 30px;

    height: 650px;
    width: 365px;
  }

  .hero-shoe-img {
    position: absolute;
    top: 300px;
    height: auto;
    width: 100%;

    display: block;
  }

  .hero-shoe-img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 375px;
  }

  .hero-text {
    position: absolute;
    top: 460px;
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;

    width: 365px;

    font-family: "FF-italic";
    font-size: 105px;
    letter-spacing: 3px;
    color: hsl(30, 100%, 50%);

    padding-left: 0px;
    padding-right: 0px;

    text-shadow: 1px 2px 0 hsl(30, 100%, 20%);
  }

  .hero-about-us {
    position: absolute;
    top: 150px;
    right: 10px;
    z-index: 2;
    text-align: center;

    height: 25px;
    width: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(200, 75%, 20%);
    border-radius: 1000px;
    padding: 40px 40px;

    cursor: pointer;
    font-family: "Futura c";
    letter-spacing: 0px;
    font-weight: 100;

    color: hsl(200, 75%, 70%);
    font-size: 28px;
  }

  .hero-about-us:hover {
    background-color: hsl(230, 75%, 33%);
  }
}

@media (max-width: 425px) and (min-width: 376px) {
  .hero-container {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
  }

  .hero-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(200, 75%, 50%);
    border-radius: 30px;

    height: 650px;
    width: 405px;
  }

  .hero-shoe-img {
    position: absolute;
    top: 200px;
    height: auto;
    width: 100%;

    display: block;
  }

  .hero-shoe-img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 425px;
  }

  .hero-text {
    position: absolute;
    top: 460px;
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;

    width: 405px;

    font-family: "FF-italic";
    font-size: 105px;
    letter-spacing: 3px;
    color: hsl(30, 100%, 50%);

    padding-left: 0px;
    padding-right: 0px;

    text-shadow: 1px 2px 0 hsl(30, 100%, 20%);
  }

  .hero-about-us {
    position: absolute;
    top: 160px;
    right: 20px;
    z-index: 2;
    text-align: center;

    height: 25px;
    width: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(200, 75%, 20%);
    border-radius: 1000px;
    padding: 60px 60px;

    cursor: pointer;
    font-family: "Futura c";
    letter-spacing: 0px;
    font-weight: 100;

    color: hsl(200, 75%, 70%);
    font-size: 40px;
  }

  .hero-about-us:hover {
    background-color: hsl(200, 75%, 33%);
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  .hero-container {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5px;
    margin-bottom: 25px;
  }

  .hero-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(200, 75%, 50%);
    border-radius: 30px;

    height: 650px;
    width: 96%;
  }

  .hero-shoe-img {
    position: absolute;
    top: 200px;
    height: auto;
    width: 100%;

    display: block;
  }

  .hero-shoe-img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 96%;
  }

  .hero-text {
    position: absolute;
    top: 500px;
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;

    width: 96%;

    font-family: "FF-italic";
    font-size: 144px;
    letter-spacing: 3px;
    color: hsl(30, 100%, 50%);

    padding-left: 0px;
    padding-right: 0px;

    text-shadow: 1px 2px 0 hsl(30, 100%, 20%);
  }

  .hero-about-us {
    position: absolute;
    top: 210px;
    right: 30px;
    z-index: 2;
    text-align: center;

    height: 35px;
    width: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(200, 75%, 20%);
    border-radius: 1000px;
    padding: 70px 70px;

    cursor: pointer;
    font-family: "Futura c";
    letter-spacing: 0px;
    font-weight: 100;

    color: hsl(200, 75%, 70%);
    font-size: 45px;
  }

  .hero-about-us:hover {
    background-color: hsl(200, 75%, 33%);
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .hero-container {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 0px;
    margin-bottom: 25px;
  }

  .hero-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(200, 75%, 50%);
    border-radius: 30px;

    height: 650px;
    width: 96%;
  }

  .hero-shoe-img {
    position: absolute;
    top: 0vh;
    height: auto;
    width: 96%;

    display: block;
  }

  .hero-shoe-img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 96%;
  }

  .hero-text {
    position: absolute;
    top: 470px;
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;

    width: 96%;

    font-family: "FF-italic";
    font-size: 140px;
    letter-spacing: 3px;
    color: hsl(30, 100%, 50%);

    padding-left: 0px;
    padding-right: 0px;

    text-shadow: 1px 2px 0 hsl(30, 100%, 20%);
  }

  .hero-about-us {
    position: absolute;
    top: 26vh;
    right: 6vh;
    z-index: 2;
    text-align: center;

    height: 35px;
    width: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(200, 75%, 20%);
    border-radius: 1000px;
    padding: 70px 70px;

    cursor: pointer;
    font-family: "Futura c";
    letter-spacing: 0px;
    font-weight: 100;

    color: hsl(200, 75%, 70%);
    font-size: 45px;
  }

  .hero-about-us:hover {
    background-color: hsl(200, 75%, 33%);
  }
}
