@keyframes comeDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes textFill {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.hero-container {
  max-height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 1rem;
}

.hero-background {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  background-image: url("../images/styles/layered-steps-700 2.png");

  border-radius: 60px;

  max-height: 700px;
  width: 100%;
}

.layered-steps-700 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 75px;
  max-height: 700px;
  width: 100%;

  background-image: url("../images/styles/layered-steps-700.svg");
  opacity: 0.5;
}

.hero-shoe-img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  max-height: 700px;
  width: 100%;
}

.hero-shoe-img {
  position: relative;
  top: 2rem;

  height: 900px;
  width: auto;

  animation: comeDown 1s ease 0.5s 1 normal both;
}

.hero-text {
  position: absolute;
  top: 24rem;

  text-wrap: nowrap;

  z-index: 1;
  text-align: center;

  font-family: "FF-italic";
  font-size: 10rem;
  letter-spacing: 3.5px;

  color: transparent;
  /* -webkit-text-stroke: 2px var(--clr-copper); */

  /* ANIMATION AFTER */
  /* color: var(--clr-copper); */
  /* text-shadow: 2px 2px 2px var(--clr-copper-shadow); */

  /* animation: textFill 1.5s ease 1s 1 normal both; */
}

.hero-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;

  text-wrap: nowrap;

  z-index: 1;
  text-align: center;

  font-family: "FF-italic";
  font-size: 10rem;
  letter-spacing: 3.5px;

  /* ANIMATION AFTER */
  color: var(--clr-copper);
  text-shadow: 2px 2px 2px var(--clr-copper-shadow);

  overflow: hidden;

  animation: textFill 1s ease-in-out 0.75s 1 normal both;
}

.hero-about-us {
  position: relative;
  top: 1.2rem;
  left: 42rem;

  z-index: 2;
  text-align: center;

  height: 8rem;
  width: 8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-darkteal);
  border-radius: 50%;
  line-height: 8rem;

  cursor: pointer;
  font-family: "Futura c";
  font-weight: 100;

  color: var(--clr-verylightteal);
  font-size: 2.5rem;

  transition: all 200ms ease;
}

.hero-about-us:hover {
  background-color: var(--clr-darkteal-hover);
  transform: translateY(-00.25rem) translateX(-00.25rem);
  height: 8.5rem;
  width: 8.5rem;
  line-height: 8.5rem;
}

@media (max-width: 1536px) {
  .hero-text {
    top: 26rem;
    font-size: 8.2rem;
  }

  .hero-about-us {
    top: 1.2rem;
    left: 34rem;

    height: 8rem;
    width: 8rem;
  }

  .hero-shoe-img {
    top: 2.5rem;
  }
}

@media (max-width: 1280px) {
  .hero-container {
    height: 35rem;
  }

  .hero-text {
    top: 22.5rem;
    font-size: 6.7rem;
    letter-spacing: 2.5px;
  }

  .hero-shoe-img {
    top: -3.5rem;
    height: 45rem;
  }

  .hero-background {
    height: 35rem;
    border-radius: 70px;
  }

  .hero-about-us {
    top: 1.3rem;
    left: 26.1rem;
  }
}

@media (max-width: 1024px) {
  .hero-about-us {
    top: 1.3rem;
    left: 19.2rem;

    height: 6rem;
    width: 6rem;

    font-size: 1.8rem;
  }

  .hero-text {
    font-size: 4.8rem;
  }

  .hero-shoe-img {
    height: 40rem;
    top: -2rem;
  }
}

@media (max-width: 768px) {
  .hero-text {
    font-size: 4rem;
    letter-spacing: 2px;

    top: 21rem;
  }

  .hero-shoe-img {
    height: 35rem;
  }

  .hero-container,
  .hero-background {
    height: 30rem;
  }

  .hero-about-us {
    top: 1.3rem;
    left: 15.2rem;
    height: 6rem;
    width: 6rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 640px) {
  .hero-about-us {
    top: 0.8rem;
    left: 10.7rem;
  }

  .hero-container,
  .hero-background {
    height: 35rem;
  }

  .hero-background {
    border-radius: 40px;
  }

  .hero-text {
    top: 23rem;
    font-size: 5.5rem;
    text-wrap: wrap;
    width: 459px;
  }

  .hero-shoe-img {
    top: 2rem;

    width: 100%;
    height: auto;
  }
}

@media (max-width: 475px) {
  .hero-text {
    position: relative;
    top: 50%;

    transform: translateY(-50%);
    font-size: 18vw;
    max-width: 98%;
  }

  .hero-shoe-img {
    top: 7%;
    transform: translateY(-50%);

    overflow-x: hidden;
  }

  .hero-about-us {
    top: -38%;
    left: 48%;

    transform: translateX(-50%);

    height: 5rem;
    width: 5rem;

    font-size: 1.5rem;
  }

  .hero-background,
  .hero-container {
    height: 110vw;
  }
}
