*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

.product-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 2vw;
  margin-bottom: 5vw;
  margin-left: 10vw;
  margin-right: 10vw;

  transition: opacity 1s ease;
}

.product-grid.hide-pe {
  opacity: 0; /* When hidden, set opacity to 0 */
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  opacity: 1;

  font-family: "Futura";

  width: 20%;
  height: auto;

  font-size: 1.2vw;
}

.hide-pe {
  opacity: 0;
  pointer-events: none;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: auto;
  margin-bottom: 0vh;
  width: 80%;
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
  .product-grid {
    gap: 4vh;
  }

  .product-container {
    width: 25%;
  }
}

@media (max-width: 1024px) {
  .product-grid {
    gap: 4vh;
    margin-left: 10vh;
    margin-right: 10vh;
  }
}

@media (max-width: 768px) {
  .product-grid {
    gap: 4vh;
    margin-left: 5.5vh;
    margin-right: 5.5vh;
  }

  .product-container {
    width: 30%;
  }
}

@media (max-width: 640px) {
  .product-grid {
    gap: 5vh;
    margin-left: 5.5vh;
    margin-right: 5.5vh;
  }

  .product-container {
    width: 30%;
  }
}

@media (max-width: 475px) {
  .product-grid {
    gap: 5vh;
    margin-left: 4.5vh;
    margin-right: 4.5vh;
  }

  .product-container {
    width: 40%;
  }
}
