.payment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: fixed;
  background-color: white;
  left: 50%;
  transform: translateX(-50%) translateY(50px);

  height: 30rem;
  width: 60rem;
  font-size: 1.25rem;
  z-index: 999;
  font-family: "Futura";

  border-radius: 15px;

  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.25s ease;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-right: 1.5rem;
  padding-left: 5rem;
  border-right: 10px solid rgb(230, 230, 230);

  height: 75%;
  width: 50%;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-left: 1.5rem;
  padding-right: 5rem;
  height: 75%;
  width: 50%;
}

.cart-summary div {
  width: 100%;
}

.user-details img {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  left: 2vh;
  top: 2vh;
}

.steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  font-size: 1em;
  font-weight: 600;
  font-family: "Futura";

  border-bottom: 1.5px solid rgb(200, 200, 200);
}

.mobile {
  background-color: rgb(216, 216, 216);
  border-radius: 5px;
  padding-top: 1%;
  padding-bottom: 1%;

  padding-left: 2%;
  padding-right: 2%;
}

.address,
.payment {
  padding-top: 1%;
  padding-bottom: 1%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
  width: 100%;
}

.main-container h {
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 5%;
}

.main-container input {
  font-size: 0.9em;
  font-family: "Futura";

  text-indent: 5px;
  border: none;

  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid rgb(177, 177, 177);
}

.main-container div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 0.75em;
  width: 100%;
  gap: 5%;
  margin-top: 2%;
  margin-bottom: 1%;

  padding-bottom: 4%;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.payment-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10%;
}

.payment-footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: "Futura";
  font-size: 1.25em;
  font-weight: 500;

  color: white;
  background-color: grey;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  border: none;
}

.payment-footer l {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 0.8em;
  margin-top: 1%;

  padding-top: 1%;
  color: grey;
}

.order-summary-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-summary-header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  gap: 10%;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.order-summary-header h {
  font-size: 1em;
  font-weight: 600;

  padding-top: 1%;
  padding-bottom: 1%;
}

.order-summary-header img {
  width: 1.25rem;
  height: 1.25rem;
}

.order-summary {
  height: 7.5rem;
  overflow-y: auto;
}

.order-summary div {
  font-size: 1rem;
}

.totals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  font-size: 0.85em;
}

.totals div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.totals div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  width: 40%;
  margin-right: 5%;
}

.totals div l {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: 40%;
  margin-left: 1%;
}

.cart-summary-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1.2em;

  width: 100%;
}

.login-for-loyalty {
  text-align: center;
  font-size: 1.25rem;

  margin-top: 1%;
  margin-bottom: 3%;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.to-pay {
  margin-top: 2%;
  margin-bottom: 2%;

  font-weight: 600;
  border-top: 1px solid rgb(212, 212, 212);
  padding-top: 2%;
}

.coupon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coupon-wrap input {
  font-size: 1rem;
  font-family: "Futura";
  text-align: center;
  padding: 5px 15px;

  width: 60%;
  border-radius: 1000px;
  border: 1px dotted black;
}

.coupon-wrap input::placeholder {
  font-size: 1em;
  font-family: "Futura";
  text-align: center;
}

.dot {
  width: 0.8em;
  height: 0.8em;

  border-radius: 50%;
  background-color: rgb(200, 200, 200);
  border: 2px solid black;
  outline: none;
}

.dot.active {
  background-color: black;
}

.close-checkout-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: white;

  position: absolute;
  width: 2.5em;

  right: 2vh;
  top: 2vh;

  cursor: pointer;
}

.close-checkout-btn img {
  width: 2.5em;
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
  .payment-container {
    height: 25rem;
    width: 50rem;

    font-size: 1rem;
  }

  .order-summary div {
    font-size: 0.9rem;
  }

  .login-for-loyalty {
    font-size: 0.9rem;
  }

  .coupon-wrap input {
    font-size: 0.9rem;
  }
}

@media (max-width: 1024px) {
  .payment-container {
    height: 25rem;
    width: 45rem;

    font-size: 1rem;
  }

  .order-summary div {
    font-size: 0.9rem;
  }

  .login-for-loyalty {
    font-size: 0.9rem;
  }

  .coupon-wrap input {
    font-size: 0.9rem;
  }

  .user-details {
    padding-right: 1rem;
    padding-left: 3.5rem;

    padding-top: 1rem;
  }

  .cart-summary {
    padding-left: 1rem;
    padding-right: 3.5rem;

    padding-top: 1rem;
  }
}

@media (max-width: 768px) {
  .payment-container {
    width: 100%;
    font-size: 0.95rem;
  }

  .user-details {
    padding-right: 1rem;
    padding-left: 2rem;

    padding-top: 1rem;
  }

  .cart-summary {
    padding-left: 1rem;
    padding-right: 2rem;

    padding-top: 1rem;
  }

  .order-summary div {
    font-size: 0.85rem;
  }

  .login-for-loyalty {
    font-size: 0.85rem;
  }

  .coupon-wrap input {
    font-size: 0.85rem;
  }

  .main-container div {
    font-size: 0.8em;
  }
}

@media (max-width: 640px) {
  .payment-container {
    flex-direction: column;

    height: auto;
    width: 100%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-size: 1.1rem;
  }

  .user-details {
    width: 75%;

    border: none;
    border-bottom: 10px solid rgb(230, 230, 230);

    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 4rem;
    padding-bottom: 0.5rem;
  }

  .cart-summary {
    width: 75%;

    border: none;

    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
  }
  .main-container {
    margin-top: 1rem;
  }

  .main-container h {
    margin-bottom: 2.5%;
  }

  .payment-footer {
    margin-top: 2.5%;
  }
}

@media (max-width: 475px) {
  .user-details {
    padding-left: 10vw;
    padding-right: 10vw;
    width: auto;
  }

  .cart-summary {
    padding-left: 10vw;
    padding-right: 10vw;

    width: 100%;
  }

  .payment-container {
    font-size: 4vw;
  }

  .order-summary div {
    font-size: 3vw;
  }

  .main-container {
    margin-top: 1vw;
  }

  .main-container div {
    gap: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-bottom: 1.5vw;
  }

  .main-container h {
    margin-bottom: 1vw;
    font-size: 1.2em;
  }

  .main-container input {
    font-size: 0.75em;

    text-indent: 5px;

    border-radius: 5px;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
  }

  .order-summary div {
    font-size: 3.25vw;
  }

  .login-for-loyalty {
    font-size: 3.5vw;
  }

  .coupon-wrap input {
    font-size: 3vw;
  }
}
