.payment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: absolute;
  background-color: white;
  left: 50%;
  transform: translateX(-50%) translateY(50px);

  height: 27vw;
  width: 60vw;
  font-size: 1.1vw;
  z-index: 999;
  font-family: "Futura";

  border-radius: 15px;

  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-right: 1.5em;
  padding-left: 5em;
  border-right: 10px solid rgb(230, 230, 230);

  height: 75%;
  width: 50%;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-left: 1.5em;
  padding-right: 5em;
  height: 75%;
  width: 50%;
}

.cart-summary div {
  width: 100%;
}

.user-details img {
  position: absolute;
  height: 2.5em;
  width: 2.5em;
  left: 2vh;
  top: 2vh;
}

.steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  font-size: 1em;
  font-weight: 600;
  font-family: "Futura";

  border-bottom: 1.5px solid rgb(200, 200, 200);
}

.mobile {
  background-color: rgb(216, 216, 216);
  border-radius: 5px;
  padding-top: 1%;
  padding-bottom: 1%;

  padding-left: 2%;
  padding-right: 2%;
}

.address,
.payment {
  padding-top: 1%;
  padding-bottom: 1%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
  width: 100%;
}

.main-container h {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 5%;
}

.main-container input {
  font-size: 0.8em;
  font-family: "Futura";

  text-indent: 5px;
  border: none;

  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid rgb(177, 177, 177);
}

.main-container div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 0.7em;
  width: 100%;
  gap: 5%;
  margin-top: 2%;
  margin-bottom: 1%;

  padding-bottom: 4%;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.payment-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10%;
}

.payment-footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: "Futura";
  font-size: 1em;
  font-weight: 500;

  color: white;
  background-color: grey;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  border: none;
}

.payment-footer l {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 0.8em;
  margin-top: 1%;

  padding-top: 1%;
  color: grey;
}

.order-summary-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-summary-header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  gap: 10%;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.order-summary-header h {
  font-size: 1em;
  font-weight: 600;

  padding-top: 1%;
  padding-bottom: 1%;
}

.order-summary-header img {
  width: 1.4vw;
  height: 1.4vw;
}

.order-summary {
  height: 7.5vw;
  overflow-y: auto;
}

.order-summary div {
  font-size: 0.96em;
}

.totals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  font-size: 0.8em;
}

.totals div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.totals div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  width: 40%;
  margin-right: 5%;
}

.totals div l {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: 40%;
  margin-left: 1%;
}

.cart-summary-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1.1em;

  width: 100%;
}

.login-for-loyalty {
  text-align: center;
  font-size: 0.8em;

  margin-top: 1%;
  margin-bottom: 3%;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.to-pay {
  margin-top: 2%;
  margin-bottom: 2%;

  font-weight: 600;
  border-top: 1px solid rgb(212, 212, 212);
  padding-top: 2%;
}

.coupon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coupon-wrap input {
  font-size: 0.8em;
  font-family: "Futura";
  text-align: center;
  padding: 5px 15px;

  width: 50%;
  border-radius: 1000px;
  border: 1px dotted black;
}

.coupon-wrap input::placeholder {
  font-size: 1em;
  font-family: "Futura";
  text-align: center;
}

.dot {
  width: 0.8em;
  height: 0.8em;

  border-radius: 50%;
  background-color: rgb(200, 200, 200);
  border: 2px solid black;
  outline: none;
}

.dot.active {
  background-color: black;
}

.close-checkout-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: white;

  position: absolute;
  width: 2.5em;

  right: 2vh;
  top: 2vh;

  cursor: pointer;
}

.close-checkout-btn img {
  width: 2.5em;
}

@media (max-width: 1536px) {
  .payment-container {
    height: 32vw;
    font-size: 1.15vw;
  }

  .user-details,
  .cart-summary {
    /* height: 80%; */
    padding-top: 2vw;
  }

  .coupon-wrap input {
    width: 66%;
  }
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .payment-container {
    height: 40vw;
    width: 70vw;

    font-size: 1.5vw;
  }

  .close-checkout-btn {
    width: 2em;
  }

  .close-checkout-btn img {
    width: 2em;
  }

  .user-details {
    padding-left: 3em;
  }

  .cart-summary {
    padding-right: 3em;
  }

  .order-summary {
    height: 9.2vw;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
  .dot {
    width: 0.37em;
    height: 0.37em;
    border-radius: 50%;
    background-color: rgb(200, 200, 200);
    border: 1px solid black;
    outline: none;
  }

  .main-container {
    margin-top: 1.8vw;
  }
}

@media (max-width: 475px) {
  .close-checkout-btn img {
    width: 1em;
  }

  .close-checkout-btn {
    top: 1.5vw;
    right: 1vw;
  }

  .payment-container {
    height: 60vw;
    width: 95vw;
    font-size: 2.2vw;
  }

  .user-details {
    padding-left: 1.5em;
  }

  .cart-summary {
    padding-right: 1.5em;
  }

  .order-summary {
    height: 12vw;
  }

  .order-summary div {
    max-height: 12vw;
  }
}
