.product-name {
  font-size: 1em;
  font-weight: 600;

  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-bottom: 0.8vw;
}

.product-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  font-weight: normal;
  font-size: 0.9em;

  padding-left: 0.85vw;
  padding-right: 0.85vw;

  margin-bottom: 0.8vw;
}

.product-price span {
  text-align: center;
}

.discount {
  color: green;
  font-size: 0.8em;
}

.price-original {
  text-decoration: line-through;
}

.size-options {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-evenly;

  cursor: pointer;
}

.size-options div {
  margin-left: 0.4vw;
  margin-right: 0.4vw;
}

.size-variants {
  border: 1px solid #dddddd;

  display: flex;
  justify-content: center;
  align-self: center;

  font-size: 0.8em;
  padding: 0.3em 0.3em;
}

.size-variants:hover {
  border: 1px solid black;
  background-color: rgb(230, 230, 230);
}

@media (max-width: 1536px) {
  .product-name {
    font-size: 2.2vh;
  }
}

@media (max-width: 1280px) {
  .size-variants {
    font-size: 1.8vh;
    padding: 0.2em 0.2em;
  }

  .size-options div {
    margin-left: 0.6vh;
    margin-right: 0.6vh;
  }

  .product-name {
    font-size: 2.2vh;
  }
}

@media (max-width: 1024px) {
  .size-variants {
    font-size: 1.8vh;
    padding: 0.2em 0.2em;
  }

  .size-options div {
    margin-left: 0.6vh;
    margin-right: 0.6vh;
  }

  .product-price {
    font-size: 1.75vh;
  }
}

@media (max-width: 768px) {
  .size-variants {
    font-size: 1.8vh;
    padding: 0.2em 0.2em;
  }

  .size-options div {
    margin-left: 0.6vh;
    margin-right: 0.6vh;
  }

  .product-price {
    font-size: 1.75vh;
  }
}

@media (max-width: 640px) {
  .size-variants {
    font-size: 1.8vh;
    padding: 0.2em 0.2em;
  }

  .size-options div {
    margin-left: 0.6vh;
    margin-right: 0.6vh;
  }

  .product-price {
    font-size: 1.75vh;
  }
}

@media (max-width: 475px) {
  .size-variants {
    font-size: 1.5vh;
    padding: 0.25em 0.25em;
  }

  .size-options div {
    margin-left: 0.45vh;
    margin-right: 0.45vh;
  }

  .product-price {
    font-size: 1.6vh;
  }

  .product-price span {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}
