.tab {
  display: flex;
  justify-content: center;
  align-content: center;

  gap: 1vw;

  height: 3vw;
  margin-bottom: 1.5vw;
  margin-top: 1.5vw;
}

.tab button {
  border: 2px solid black;
  border-radius: 50px;

  background-color: white;

  font-family: "Futura";
  font-size: 1.2vw;
  letter-spacing: 0px;

  width: 10vw;

  cursor: pointer;
  z-index: 500;
  transition: 300ms all ease;
}

.selected-btn {
  background-color: black !important;
  color: white !important;
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
  .tab button {
    font-size: 1.3vw;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .tab button {
    font-size: 1.4vw;
  }
}

@media (max-width: 640px) {
  .tab button {
    border: 1.5px solid black;
  }
}

@media (max-width: 475px) {
  .tab {
    height: 4vw;
    gap: 2vw;
  }

  .tab button {
    width: 13vw;
    font-size: 1.65vw;
  }
}
